**/build/
**/install/
**/log/
Desktop_Files/.bash_history*
Desktop_Files/*.env
Desktop_Files/.gitconfig
Desktop_Files/.bashrc
Desktop_Files/.bash_logout
Desktop_Files/.profile
Desktop_Files/.pam_environment
Desktop_Files/.wget-hsts
**/__pycache__/
*.pyc
*.log
*.env
wget-log*
*.env
.bash_history*
**/build/
**/install/
**/log/
**/__pycache__/
*.pyc
*.log
*.zip
wget-log*
